.Category {
  padding: 4px 0 6px 10px;
  margin: 4px 0;
  cursor: pointer;
}

.Category-selected {
  background-color: #edf7ff;
}

.Category h3 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  line-height: 20px;
}
