/* The Modal (background) */
.modal {
  position: absolute; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.2); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 150px;
  background-color: #fefefe;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  padding: 13px 24px 13px 20px;
}

.modal-content h2 {
  margin: 0;
  font-size: 14px;
}

/* The Close Button */
.close {
  position: absolute;
  right: 6px;
  top: -4px;
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
