.Legend {
  padding-top: 4px;
  font-size: 13px;
}

.Legend div {
  line-height: 22px;
  position: relative;
  margin-left: 22px;
}

.Legend span {
  position: absolute;
  left: -22px;
  top: 3px;
  display: inline-block;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 1px solid #777;
  vertical-align: bottom;
  margin-right: 4px;
  background-color: yellow;
}
