.Legend {
  padding-top: 4px;
  font-size: 13px;
}

.Legend div {
  line-height: 22px;
  position: relative;
  margin-left: 22px;
}

.Legend span {
  position: absolute;
  left: -22px;
  top: 3px;
  display: inline-block;
  height: 14px;
  width: 14px;
  vertical-align: bottom;
  margin-right: 4px;
}

.Legend .color {
  border: 1px solid #777;
  border-radius: 50%;
}

.Legend .symbol {
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  left: -24px;
  top: 0;
}
